<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AppTechpos"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.blk.sdk.activity.ActivityList" />
        <activity android:name="com.blk.sdk.activity.ActivitySwipeCard" />
        <activity android:name="com.blk.sdk.activity.ActivityPosPed" />
        <activity android:name="com.blk.sdk.activity.ActivityIP" />

        <receiver android:name=".MyReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.blk.techpos.USER_ACTION" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.blk.WebService.ParameterAlarmReceiver" />
        <receiver android:name="com.blk.WebService.UpdateAlarmReceiver" />
        <receiver android:name="com.blk.WebService.OdealAlarmReceiver" />

        <activity android:name="com.blk.WebService.AlertActivity" />
    </application>


</manifest>